header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 0;
    backdrop-filter: blur(5px);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-img {
    width: 20%;
    height: 40%;
    margin-right: 10px;
    object-fit: contain;
}


.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo i {
    margin-right: 10px;
    color: var(--accent);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    transition: var(--transition);
    position: relative;
}

nav a:hover {
    color: var(--primary);
}


nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: var(--transition);
}

nav a:hover::after {
    width: 100%;
}

nav a.active{
    color: var(--primary);
    font-weight: bolder;
}

.sidebar{
    display: none;
}

.menu-toggle {
    display: none; /* Hide the menu toggle button by default */
} 

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-actions a {
    color: var(--dark);
    transition: var(--transition);
}

.user-actions a:hover {
    color: var(--primary);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary);
    cursor: pointer;
}