/* styles/welcome.css */

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.welcome-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  justify-items: center;
  
}

.welcome-card {
  background: white;
  border-radius: 28px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 40px 30px;
  text-align: center;
}

.welcome-card h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.welcome-card p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 30px;
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn {
  padding: 12px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.register-btn {
  background-color: var(--success);
  color: #000;
  border: none;
}

.login-btn {
  background-color: var(--light);
  color: #111;
  border: 2px solid var(--light-gray);
}

.divider {
  margin: 25px 0;
  text-align: center;
  font-size: 13px;
  color: var(--gray);
  position: relative;
}

.divider span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 2px solid #e5e7eb;
  z-index: 0;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-btn.google {
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid var(--light-gray);
}

.social-btn.facebook {
  background-color: var(--secondary);
  color: var(--white);
}
